/* style.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    background-color: #0E0E0E; /* Dark gray background */
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: grid;
    /* Use 'auto-fit' to allow the grid to fill the available space without gaps */
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(45px, 1fr));

    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px;

    overflow: hidden;
}

.line {
    /* Set dimensions relative to their grid cell to improve responsiveness */
    width: 100%;
    height: 100%;

    transform-origin: center center;
    transition: transform 1s ease-out;

    --line-rotation: 0deg;
    transform: rotate(var(--line-rotation));

    display: flex;
    justify-content: center;
    align-items: center;

    /* The ::before pseudo-element now becomes the actual line */
    &::before {
        content: '';
        background-color: transparent; /* Lines are transparent by default */
        width: var(--line-width); /* Use CSS variable for width from JS */
        height: var(--line-height); /* Use CSS variable for height from JS */
        background-color: var(--line-color); /* Use CSS variable for color from JS */
        transition: all 0.2s ease-out; /* Add transition for smoothness */
    }
}
